.features-content{
    display: flex;
    justify-content: center;
}
.features-left{
    flex: 1;
    text-align: center;
}
.features-left img{
    width: 65%;
}

.features-right{
    flex: 1;
}

@media (max-width: 600px){
    .features-content{
        flex-direction: column;
    }
    #features{
        height: 200vh;
      }
}