#footer{
    background-color: var(--dark-blue);
    color: #fff;
    width: 100%;
    padding: 8rem 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.footer-links a{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.footer h4{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer-contact p{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
}

@media (max-width:800px){
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}